<div id="footer">
    <hr style="width: 50%;margin: 2rem auto;">
    <p class="logo copyright">Form Friend</p>
    <!-- <p class="copyright">© 2023 Company, Inc</p> -->
</div>
<% if (UserError != null) { %>
    <script>
        alert("<%=UserError%>");    
    </script>
 
<% } %>